@charset "UTF-8";

.ant-layout {
  height: 100%;

  .logo {
    height: 64px;
    background-image: url("../imgs/logo.svg");
    background-size: 48px 64px;
    border-radius: 6px;
    margin: 16px;
  }

  .ant-layout-header {
    background-color: #293C55;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
  }

  .ant-layout-sider,
  .ant-menu-dark, .ant-menu-dark .ant-menu-sub {
    background-color: #0a0a0a;
    //box-shadow: 0 234px 8px rgba(0, 0, 0, 0.45) inset;
  }

  .ant-menu-dark .ant-menu-inline.ant-menu-sub {
    box-shadow: none;
  }

  .ant-menu-item:hover,
  .ant-menu-item-selected {
    background-color: #36383e !important;
    a {
      color: #35b5ff !important;
    }
  }

  .ant-menu-dark .ant-menu-item,
  .ant-menu-dark .ant-menu-item-group-title,
  .ant-menu-dark .ant-menu-item > a,
  .ant-menu-dark, .ant-menu-dark .ant-menu-sub{
    color: #ffffff;
  }

  //重置样式
  .ant-layout-content > div {
    height: 100%;

    .ant-tabs .ant-tabs-top-content, .ant-tabs .ant-tabs-bottom-content {
      height: 100%;
    }
  }

  .header__trigger {
    color: #000;
  }

  .ant-layout-sider-collapsed {
    .anticon {
      font-size: 16px;
      // margin-left: 8px;
    }

    .nav-text {
      display: none;
    }

    .ant-menu-submenu-vertical > .ant-menu-submenu-title:after {
      display: none;
    }

    .ant-menu-dark:not(.ant-menu-inline) .ant-menu-submenu-open {
      color: inherit;
    }
  }

  p {
    margin: 10px 0 10px 0;
  }
}

//card样式重置

.ant-card, .ant-card-body {
  //background-color: #0a0808;
}

.ant-card-head{
  //color: #fff;
  //border-bottom: 1px solid #d6ea2e !important;
}

.ant-layout-content {
  min-height: auto;
  background-color: #ffffff;
}

.ant-tabs-bar {
  margin: 0;
}

.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu{
  border-bottom: 2px solid #1890ff;
}

.ant-layout .ant-layout-sider-collapsed .anticon {
  font-size: 28px;
}

.ant-menu-inline-collapsed > .ant-menu-item, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item, .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  padding: 0 25px !important;
}

.ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item, .ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  height: 60px;
  line-height: 60px;
}

//美化webkit内核滚动条
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #777;
}
